.plus-image {
  width: 100%;
  padding: 1em 4.5em;
  margin: 2.5em 0;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.explore-button {
  border: none;
  background-color: #e5ae07;
  position: absolute;
  right: 46%;
  margin-top: 5%;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 600;
  width: 10em;
  padding: 0.5em;
}

.explore-button > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.explore-button > span > span {
  position: relative;
  bottom: 0.1em;
}
.mobile-visible {
  display: none;
}

@media (width <= 480px) {
  .plus-image {
    padding: 0 1em;
    margin: 2em 0;
  }
  .plus-image > img {
    display: none;
  }
  .plus-image > .mobile-visible {
    display: block;
    width: 100%;
    border-radius: 0.5em;
  }
  .explore-button {
    right: 0;
    margin-top: 0;
    position: relative;
    bottom: 3em;
    margin-left: 0.5em;
    width: 30%;
    border-radius: 0.5em;
    font-size: small;
  }
}
